---
layout: default
title:
---
<div class="site-content-inner">
  <div class="content-area">
    <main class="site-main">
      {% for post in paginator.posts %}
      <article class="hentry format-gallery has-post-thumbnail">
        <header class="entry-header">
          {% assign feature = site.data.featured[post.slug] %}
          <a class="post-thumbnail" href="{{ post.url | relative_url }}" {% if feature %}data-bg="{{ '/assets/uploads/' | append: feature | relative_url }}"{% endif %}></a>
        </header>
        <div class="card-copy">
          <h1 class="entry-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
        {% if post.slug == 'bk' %}
          {% assign card_excerpt = post.excerpt | strip_html | strip %}
        {% else %}
          {% assign card_excerpt = post.content | strip_html | strip_newlines | strip %}
        {% endif %}
          <div class="entry-summary"><p>{{ card_excerpt | truncatewords: 55 }} <a class="more-link" href="{{ post.url | relative_url }}">View gallery</a></p></div>
        </div>
      </article>
      {% endfor %}
    </main>
    <div class="older-posts-wrap">{% if paginator.next_page %}<button class="older-posts-button" type="button" data-next-url="{{ paginator.next_page_path | relative_url }}">OLDER POSTS</button>{% endif %}</div>
  </div>
</div>